*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial",Arial, Helvetica, sans-serif;
    outline: none;
    text-decoration: none;

}
body{
    /*background: #dfe9f5;*/
    background-image: url("https://static2.tripoto.com/media/filter/nl/img/1566892/TripDocument/1588411147_img_7560.jpg");
    background-size: cover;
    background-position: center;
    background-color: rgba(255, 255, 255, 0.5);
    justify-content: center;
    align-items: center;
}
.container{
    position: relative;
    width: 95%;
    height: 95vh;
    display: flex;
    gap: 20px;
    padding: 20px;
    margin:auto;
}
.container .left{
    position: relative;
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.container .left nav{
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    background: #fff;
    width: 100%;
    overflow: hidden;
    transition: width 0.2s linear, box-shadow 0.2s linear;
    box-shadow: 0 20px 35px rgba(0,0,0,0.2);
    background: linear-gradient(to bottom,  #87CEEB, #ADD8E6);
    border-radius: 20px;
}
.logo{
    align-items: center;
    padding-bottom: 3rem;
    padding-left: 20px;
    text-align: center;
    display: flex;
    transition: all 0.5s ease;
    margin: 2rem 0 1rem 0;
}
.logo img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
.logo span{
    margin-left: 1rem;
    font-weight: bold;
    padding-left: 15px;
    font-size: 18px;
    text-transform: uppercase;
}
ul{
    margin: 0 auto;
}
li{
    font-size: 16px;
}
a{
    position: relative;
    color: rgb(85, 83, 830);
    font-size: 14px;
    display: table;
    width: 300px;
    padding: 10px;

}
.container nav ul li a.active{
    background-color: #eee;
}
.fas{
    position: relative;
    width: 70px;
    height: 40px;
    top: 14px;
    font-size: 20px;
    text-align: center;
    color: darkblue;

}
.nav-item{
    position: relative;
    top: 12px;
    margin-left: 10px;
    color: black;
}
a:hover{
    background: #eee;
}
nav:hover{
    width: 200px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;
}
.logout{
    position: absolute;
    bottom: 0;
}

.top{
    width: 100%;
    padding-left: 0;
}

.container .right{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}
.container .right .top{
    position: relative;
    width: 100%;
    height: 70px;
    display: flex;
    gap: 20px;
    align-items: center;
    background: #fff;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 20px 35px rgba(0,0,0,0.2);
    background: linear-gradient(to bottom,  #87CEEB, #ADD8E6);
}
.container .right .top .searchBox{
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    float: left;
}

.container .right .top .searchBox .inputBox{
    position: relative;
    width: 100%;
    height: 40px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
    gap: 10px;
}
.container .right .top .searchBox .inputBox i{
    cursor: pointer;
}
.container .right .top .searchBox .inputBox input{
    position: relative;
    width: 100%;
    height: 50px;
    outline: none;
    border: none;
    background: transparent;
    margin-right: 10px;
}
.inputBox button{
    background-color:transparent;
    border: none;
}
.top .login{
    margin-left: auto;
    margin-right: 20px;
}
.login .login-btn{
    border: none;
    outline: none;
    font-size: 1rem;
    font-weight: 600;
    padding: 10px 18px;
    border-radius: 3px;
    cursor: pointer;
}
.container .right main{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.container .right main .projectCard{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 20px 35px rgba(0,0,0,0.2);
    background: linear-gradient(to bottom,  #87CEEB, #ADD8E6);
}
.projectCard .container{
    border-radius: 25px;
    background-color:#d7dbe6;
    color: #000;
    width: 500px;
    height: 500px;
    text-align: left;
    transform: translate(-50%,0%);
    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}
.container .weather-side{
    position: relative;
    width: 500px;
    float: left;
}
.container .weather-side .weather-gradient{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 25px;
    
}
.weather-side .weather-background{
    width: 100%;
    height: auto;
    border-radius: 25px;
    position: relative;
    transition: transform 500ms ease;
    transform: translateZ(0) scale(1.09);
    float: left;
    opacity: 0.7;
}
.weather-background .date-container{
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.date-container .day{
    margin: 0;
    width: 300px;
}
.date-container .current-location {
    position: relative;
    float: right;
    display: flex;
    
}
.date-container button{
    float: right;
    background: none;
    border-radius: 5px;
}
.date-container .date{
    display: flex;
    margin-top: 20px;
    font-weight: 500;
    font-size: medium;
}

.location-adjust{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
    white-space: nowrap;
    gap: 20px;
}
.location-adjust .location{
    font-size: 20px;
    font-weight: bold;
}
.weather-container{
    position: absolute;
    bottom: 25px;
    left: 25px;
}
.weather-container img{
    
    height: 50px;
    width: 50px;
}
.weather-container span{
    height: 80px;
    width: 100px;
    color: rgb(230, 250, 115);
    font-size: 70px;
}
.weather-container .weather-temp{
    margin: 0;
    font-weight: 700;
    font-size: 3rem;
}
.weather-container .weather-desc{
    display: inline-block;
    margin: 0;
    font-size: 20px;
}
.container-rightcolumn{
    display: flex;
    flex-direction: column;
    color: #000;
    float: right;
    width: 500px;
    height: 500px;
    position: absolute;
    margin-right: 20px;
    top: 7%;
    right: 0;
}

:root {
    --container-width: 400px;
    --container-height: 520px;
}
.container-rightcolumn .container-rainchance{
    position: relative;
    border-radius: 15px;
    background-color:#d7dbe6;
    color: #000;
    width: 400px;
    height: 100px;
    text-align: left;
    margin-left: 40px;
    opacity: 0.7;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}
.container-rainchance .details,.container-windspeed .details, .container-pressure .details,.container-uvindex .details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 10%;
    left: 5%;
    height: 70px;
    width: 350px;
}
.details .heading{
    margin: 5px;
    top: 0;
    font-size: medium;
}
.details .heading-val{
    margin: 20px;
    font-weight:400;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 70px;
} 
.details .material-symbols-outlined{
    margin-left: auto;
    /* Add this style to increase the font size of the span */
    font-size: 35px;
    color: darkblue;
}

.container-rightcolumn > :not(:first-child) {
    margin-top: 35px;
    position: relative; /* Adjust the margin-top value as needed */
}

.container-rightcolumn .container-windspeed, .container-rightcolumn .container-pressure,.container-rightcolumn .container-uvindex{
    border-radius: 15px;
    background-color:#d7dbe6;
    color: #000;
    width: 400px;
    height: 100px;
    text-align: left;
    margin-left: 40px;
    opacity: 0.7;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}
.west {
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}
.blur-bg-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    backdrop-filter: blur(3px);
    transition: 0.1s ease;
}
.show-popup .blur-bg-overlay{
    opacity: 1;
    pointer-events: auto;
}
.form-popup{
    position: fixed;
    top: 50%;
    left: 50%;
    max-width: 720px;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    background: #fff;
    border: 2px solid #000;
    transform: translate(-50%,-50%);
}
.show-popup .form-popup{
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%,-50%);
    transition: transfrom 0.3s ease, opacity 0.1s;
}
.form-popup .close-btn{
    position: absolute;
    top: 12px;
    right: 12px;
    color: #878484;
    cursor: pointer;
}
.form-popup .form-box{
    display: flex;
}
.form-box .form-details{
    max-width: 330px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}
.login .form-details{
    background: url("images/snow.jpeg");
    background-size: cover;
    background-position: center;
}
.signup .form-details{
    background: url("images/rain.jpg");
    background-size: cover;
    background-position: center;
    color: #fff;
}
.form-details p{
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}
.form-box h2{
    text-align: center;
    margin-bottom: 30px;
    
}
.form-box .form-content{
    width: 100%;
    padding: 35px;
}
.form-content h3{
    text-align: center;
}
form .input-field{
    height: 50px;
    width: 100%;
    margin-top: 20px;
    position: relative;
    display: flex;
}
form .input-field input{
    width: 100%;
    height: 100%;
    font-size: 14px;
    border:1px solid #000;
    outline: none;
    border-width: 2px;
    border-radius: 3px;
    padding: 0 15px;
}
.input-field input:focus{
    border-color: darkblue;
}
.form-box a{
    color: darkblue;
    text-decoration: none;
    text-align: center;
}
.form-box a:hover{
    text-decoration: underline;
}

.form-box .forgot-pass{
    display: inline-flex;
    margin-top: 18px;
    font-size: 0.95rem;
}
.form-content .form button{
    width: 100%;
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    padding: 14px 0;
    border-radius: 3px;
    margin: 25px 0;
    color: #fff;
    background: #00bcd4;
    cursor: pointer;
    transition: 0.2s ease;
}
form button:hover{
    background: #0097a7;
}
.form-box .bottom-link{
    text-align: center;
}
.form-popup .signup,
.form-popup.show-signup .login{
    display: none;
}
.form-popup.show-signup .signup{
    display: flex;
}
