*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
    outline: none;
    text-decoration: none;

}
body{
    background: #dfe9f5;
}
.container{
    position: relative;
    width: 95%;
    height: 95vh;
    display: flex;
    gap: 20px;
    padding: 20px;
    margin:auto;
}
.container .left{
    position: relative;
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.container .left nav{
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    background: #fff;
    width: 100%;
    overflow: hidden;
    transition: width 0.2s linear, box-shadow 0.2s linear;
    box-shadow: 0 20px 35px rgba(0,0,0,0.2);
    background: linear-gradient(to bottom,  #87CEEB, #ADD8E6);
    border-radius: 20px;
}
.logo{
    align-items: center;
    padding-bottom: 3rem;
    padding-left: 20px;
    text-align: center;
    display: flex;
    transition: all 0.5s ease;
    margin: 2rem 0 1rem 0;
}
.logo img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
.logo span{
    margin-left: 1rem;
    font-weight: bold;
    padding-left: 15px;
    font-size: 18px;
    text-transform: uppercase;
}
ul{
    margin: 0 auto;
}
li{
    font-size: 16px;
}
a{
    position: relative;
    color: rgb(85, 83, 830);
    font-size: 14px;
    display: table;
    width: 300px;
    padding: 10px;

}
.container nav ul li a.active{
    background-color: #eee;
}
.fas{
    position: relative;
    width: 70px;
    height: 40px;
    top: 14px;
    font-size: 20px;
    text-align: center;
    color: darkblue;

}
.nav-item{
    position: relative;
    top: 12px;
    margin-left: 10px;
    color: black;
}
a:hover{
    background: #eee;
}
nav:hover{
    width: 200px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;
}
.logout{
    position: absolute;
    bottom: 0;
}

.top{
    width: 100%;
    padding-left: 0;
}
.top .searchbar{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #87CEEB;
    padding: 15px;
    border-bottom: 3px solid #fff;
    width: 100%;
}
.top .searchbar .search{
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid #d7dbe6;
}
.top .searchbar .search i{
    margin-right: 10px;
}
.top .searchbar .search input{
    flex: 1;
    border: none;
    outline: none;
    font-size: 14px;
    border-radius: 10px;
}
.container .right{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}
.container .right .top{
    position: relative;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 20px 35px rgba(0,0,0,0.2);
    background: linear-gradient(to bottom,  #87CEEB, #ADD8E6);
}
.container .right .top .searchBox{
    position: relative;
    display: flex;
    justify-content:left;
    align-items: center;
    float: left;
    gap: 15px;
    width: 100%;
}
.container .right .top .searchBox h1{
    color: #000;
    font-size: 1.4em;
    cursor: pointer;
}
.container .right .top .searchBox .inputBox{
    position: relative;
    width: 800px;
    height: 40px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
    gap: 10px;
    overflow: hidden;
}
.container .right .top .searchBox .inputBox i{
    color:darkblue;
    cursor: pointer;
}
.container .right .top .searchBox .inputBox input{
    position: relative;
    width: 100%;
    height: 50px;
    outline: none;
    border: none;
    background: transparent;
    margin-right: 10px;
}
.top .login-btn{
    border: none;
    outline: none;
    font-size: 1rem;
    font-weight: 600;
    padding: 10px 18px;
    border-radius: 3px;
    cursor: pointer;
}
